<?xml version="1.0"?>
 
<config>
    <modules>
        <Hello_Country>
            <version>0.1.0</version>
        </Hello_Country>
    </modules>

    <global>
        <blocks>
            <country>
                <class>Hello_Country_Block</class>
            </country>
        </blocks>
    </global>

    <frontend>
        <routers>
            <country>
                <use>standard</use>
                <args>
                    <module>Hello_Country</module>
                    <frontName>country</frontName>
                </args>
            </country>
        </routers>

        <layout>
           <updates>
                <country>
                     <file>layout.xml</file>
                </country>
            </updates>
        </layout>
    </frontend>    
</config>